@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 198deg 93% 60%;
  --color-secondary: 198deg 93% 60%;
  --color-neutral: 198deg 93% 60%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
}
html {
}

body {
  @apply relative bg-[#242629];
}
.btn {
  @apply rounded-full bg-[#447CF5] px-7 py-3 text-white hover:shadow-md;
}

.mobile-frame {
  @apply absolute bottom-10 left-1/2 h-[304px] w-[150px] -translate-x-1/2 transform lg:bottom-full lg:left-auto lg:right-2 lg:top-1/2 lg:h-[728px] lg:w-[360px] lg:-translate-y-1/2 lg:translate-x-0 rtl:lg:left-2 rtl:lg:right-auto;
}
.screen-wrapper {
  /* @apply absolute right-6 top-[15dvh] flex w-[342px] cursor-pointer flex-col overflow-hidden rounded-[4rem] p-2; */
  @apply absolute translate-y-full shadow-xl;
}

#nav-features a {
  @apply text-nowrap py-0.5 opacity-40 hover:opacity-65;
}

#nav-features a.active {
  @apply opacity-100;
}

.feature-wrapper {
  @apply sticky top-0 h-screen w-full flex-1;
}
.feature-content {
  @apply flex h-screen flex-col gap-4 pt-[10dvh] lg:pt-[20dvh];
}
.feature-content h2 {
  @apply text-3xl font-medium leading-snug lg:max-w-[20ch] lg:text-[3rem];
}
.feature-content p {
  @apply leading-relaxed opacity-60 lg:max-w-[55ch] lg:text-lg;
}
